<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FishingBotFoffosEdition.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <userSettings>
    <FishingBotFoffosEdition.Properties.Settings>
      <setting name="EnableImageLog" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DefaultDeviceIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DefaultVolumeTreshold" serializeAs="String">
        <value>0.10</value>
      </setting>
      <setting name="DefaultExecuteTaskNumber" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="ForceLureFinding" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MinimalPrecisionRequired" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="DebugRuns" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="YOffset" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="XOffset" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DefaultTemplate" serializeAs="String">
        <value>default</value>
      </setting>
      <setting name="DefaultMsBeforeSearch" serializeAs="String">
        <value>2500</value>
      </setting>
      <setting name="DefaultBuffImagePath" serializeAs="String">
        <value>AppData/Resources/BuffImage.png</value>
      </setting>
      <setting name="DefaultRefreshBuff" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DefaultMouseLockOnWow" serializeAs="String">
        <value>True</value>
      </setting>
    </FishingBotFoffosEdition.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>